<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tdt.artlux">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".views.PrincipalActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>


        <activity android:name=".views.activitysSalida.Salida2" />
        <activity android:name=".views.activitysSalida.Salida1" />
        <activity android:name=".views.activitysEntrada.Entrada5" />
        <activity android:name=".views.activitysEntrada.Entrada4" />
        <activity android:name=".views.activitysEntrada.Entrada3">
            android:parentActivityName=".views.activitysEntrada.Entrada2">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.activitysEntrada.Entrada2" />
        </activity>
        <activity android:name=".views.activitysEntrada.Entrada2">
            android:parentActivityName=".views.activitysEntrada.Entrada1">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.activitysEntrada.Entrada1" />
        </activity>
        <activity android:name=".views.activitysEntrada.Entrada1" />
        <activity android:name=".views.InicioActivity" />
        <activity
            android:name=".views.administrar.ModuloComunicacionActivity"
            android:parentActivityName=".views.InicioActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tdt.artlux.views.InicioActivity" />
        </activity>
        <activity
            android:name=".views.administrar.LicenciaActivity"
            android:parentActivityName=".views.InicioActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tdt.artlux.views.InicioActivity" />
        </activity>
    </application>

</manifest>